<h2><%= @album.name %></h2>

<h3>Upload Photos</h3>
<div>
<%= form_for @album, :url => add_album_photographs_path, :html => { :class => 'form-horizontal', multipart: true } do |f| %>
    <%= f.label :photographs %>
    <%= file_field_tag "photographs[]", type: :file, multiple: true %>
  <%= f.submit "Upload photos" %>
<% end %>
</div>
